[submodule "frontend"]
	path = frontend
	url = https://github.com/yashaswini-shenoy/delish-hub-frontend
[submodule "backend"]
	path = backend
	url = https://github.com/yashaswini-shenoy/delish-hub-backend
